body,
html,
#root {
  margin: 0;
}

header {
  height: 72px;
  box-shadow: 2px 4px 8px #0000001a;
  padding-inline: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 2;
  button {
    width: 100px !important;
  }
}

main {
  background-color: #fbf8ec;
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 12px;
}

footer {
  background-color: #f9f4e2;
  min-height: 126px;
  background-image: url(./images/pattern2.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: unset;
  text-decoration: none;
  &:visited {
    color: unset;
  }
}

h3.goods-title {
  font-size: 36px;
  font-weight: bold;
  font-family: sans-serif;
}

button.ui_Button {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #70c05b;
  color: #70c05b;
  background-color: transparent;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #e5ffde;
    color: #70c05b;
  }

  &:active {
    box-shadow: inset 0px 2px 5px #00000033;
  }
}

button.ui_Button-orange {
  background-color: #ff6633;
  border: 1px solid #ff6633;
  color: #ffffff;

  &:hover {
    background-color: #ff6633;
    color: #ffffff;
    box-shadow: 0px 5px 10px #ff663380;
  }
}

.ui_input-label {
  width: max;
  font-size: 14px;
  color: #7b7b7b;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}

.ui_input-field {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #70c05b;
    outline: none;
    box-shadow: 4px 8px 16px #70c05b33;
  }

  &:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
}

.goods_title {
  font-size: 36px;
  font-family: sans-serif;
  line-height: 150%;
}

.goods_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  background-color: #ffffff;
  min-width: 272px;
  width: 272px;
  min-height: 349px;
  height: 349px;
  padding: 8px;
  margin: 8px;
  display: grid;
  box-shadow: 1px 2px 4px 0 #0000001a;
  border-radius: 4px;
  font-family: sans-serif;
  .product-card_image {
    display: flex;
    justify-content: center;
  }
  img {
    width: auto;
    height: 160px;
    border-radius: 4px;
    flex: 0 0 auto;
  }
  .product-card_footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
  }
  .product-card_cost {
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
  }
}

.star {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 6px;
  float: left;
  background-color: #bfbfbf;
  clip-path: path(
    "M6.10326 0.816985C6.47008 0.073739 7.52992 0.0737404 7.89674 0.816986L9.11847 3.29249C9.26413 3.58763 9.5457 3.7922 9.87141 3.83953L12.6033 4.2365C13.4235 4.35568 13.751 5.36365 13.1575 5.94219L11.1807 7.8691C10.945 8.09884 10.8375 8.42984 10.8931 8.75423L11.3598 11.4751C11.4999 12.292 10.6424 12.9149 9.90881 12.5293L7.46534 11.2446C7.17402 11.0915 6.82598 11.0915 6.53466 11.2446L4.09119 12.5293C3.35756 12.9149 2.50013 12.292 2.64024 11.4751L3.1069 8.75423C3.16254 8.42984 3.05499 8.09884 2.81931 7.8691L0.842496 5.94219C0.248979 5.36365 0.576491 4.35568 1.39671 4.2365L4.12859 3.83953C4.4543 3.7922 4.73587 3.58763 4.88153 3.29249L6.10326 0.816985Z"
  );
  scale: 1.5;

  &:hover {
    background-color: #ff663380;
  }

  &.selected {
    background-color: #ff6633;
  }
}

.cart {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: px;
  padding: 20px;
  border-radius: 8px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.form-row {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.form-label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #7b7b7b;
}

.form-select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
